

/* Estilos d carrusel */
imag{
    max-width: 500px;
    max-height: 500px;
}

.container{
    padding: 10px;
    margin: 10px;
}


/* Fin estilos de Carrusel */

/* Estilos de acordion */
 

/* estilos del area del texto */



/* fin de estilos de area del texto */

