/* estilos Generales */
.container{
    margin-top: 5%;
    margin-bottom: 10%;
}


/* Estilos de la barra de navegacion */

#Navbar{
    border-radius: 20px;
    max-width: 100vw;
    
}



/* fin de estilos de barra de navegacion */


/* Estilos d carrusel */



/* Fin estilos de Carrusel */

/* Estilos de acordion */
 

/* estilos del area del texto */



/* fin de estilos de area del texto */

